---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>
				I’m Taylor, and I believe the best way to master complex technology is to build it, break it, and automate it. Cloudy Range is a technical resource and personal chronicle dedicated to the art of homelabbing and enterprise IT. My mission is to document the journey of building high-performance, but "lab-able" environments in a practical, step-by-step guides for fellow professionals and enthusiasts.
				Whether you are finishing up a deployment at work, studying for your next certification or optimizing your home data center, you can expect deep dives and insights across **Automation**, **Cloud**, **Networing**, and **Virtualization**.
			
				Join me as I explore the front lines of IT, bridging the gap between on-prem infrastrucure and physical hardware and the virtual world.
			</p>
		</main>
		<Footer />
	</body>
</html>
